body {
  color: #777;
  font-family: 'Raleway', sans-serif;
}

h1, h2, p {
  display: block;
  text-align: center;
  padding: 15px;
}

img {
  margin: auto;
}

.hours {
  display: inline;
  float: left;
  margin: auto;
}

.hours ul {
  list-style: none;
  text-align: center;
}

.contact {
  display: inline;
  float: left;
  margin: auto;
}

.contact address {
  text-align: center;
}

.container {
  text-align: center;
  width: 50%;
  margin: auto;
}
ul {
  padding: 0;
  text-align: center;
  margin: 15px;
  list-style: none;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 439px;
  padding: 10px;
}

img.ri {
  max-width: 80%;
  top: 10%;
  left: 10%;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

.aboutusimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 700px;
  padding: 10px;
}
.main p {
  text-align: center;
  width: 65%;
  margin: auto;
}
